/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

$primary-color: #252265;
$blue: #1446D8;
$dark-grey: #393939;
$primary-gradient: linear-gradient(180deg, rgba(248, 242, 211, 0.6), rgba(242, 197, 225, 0.6), rgba(196, 158, 239, 0.7), rgba(13, 97, 204, 0.7));
$reverse-gradient: linear-gradient(180deg, rgb(159 151 237), rgb(217 167 224), rgb(242 194 217), rgb(99 152 237));

@font-face {
    font-family: 'Neo Sans';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Neo Sans Std Bold.otf') format('embedded-opentype');
}

$gradient: linear-gradient(to down, rgba(169, 208, 113, 0), rgba(136, 173, 215, 1));

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Neo Sans;
}
.dream-sec{
    background-image: $reverse-gradient;
    margin-top: -5px;
    .row{
        &:nth-child(1){
            img{
                opacity: 0.5;
            }
        }
    }
}

video {
    width: 100%;
}
.banner-conent{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.clouds {
    background-image: url("assets/icons/cloud.svg"), url("assets/images/cloud5.png"), url("assets/images/cloud3.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left 50% top -105px, right -62px top 50%, left -100px top 70%;
    z-index: 99;
    width: 100%;
    position: absolute;
    top: 0px;
}

.bg {
    background: url('assets/images/bg.svg');
    height: 100vh;
    z-index: 99;
    background-attachment: fixed;
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-sec-title {
    display: flex;
    justify-content: flex-end;

    h3 {
        font-size: 2.7rem;
        color: $primary-color;
        line-height: 1.3;
    }

}

.globe {
    margin-bottom: 70px;
    opacity: 0.2;
    /* width: 100%; */
}

.success-sec {
    display: flex;
}

.end-align {
    align-items: flex-end;
    justify-content: flex-end;
}

.arrow {
    margin-left: 22px;
}
.dream-secondary-bold-text{
    font-size: 1rem !important;
    font-weight: bold !important;
    color: $blue;
    line-height: 1.2 !important;
    text-align: center;
}

.lets-btn-sec {
    display: flex;
    justify-content: flex-end;

    button {
        background-color: $blue;
        color: #fff;
        border: none;
        border-radius: 20px;
        padding: 8px 18px;
        margin-top: 20px;

        &:hover {
            cursor: pointer;
        }
    }
}

//navigation styles start
.nav-link {
    color: $dark-grey;
}

.nav-item {

    &:hover {
        background-color: #f8f9fa;
        border-radius: 10px;
        cursor: pointer;
    }
}

.navbar-brand {
    color: $primary-color;
}

.navbar {
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    top: 24px;
    z-index: 9999;
}

.custom-navbar {
    justify-content: end;
}

.login-btn {
    display: flex;
}

.logint-text {
    margin-left: 10px;
}

.bg-images {
    position: absolute;
    top: 0%;
    opacity: 0.4;
}

.primary-heading {
    font-size: 2rem !important;
    color: $blue;
    text-align: center;

    span {
        color: #fff;
        display: block;
        margin-top: 10px;
    }
}

.success-sec {
    color: $blue;
}

.success-story-profiles {
    margin-left: 20px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        margin-right: 16px;
    }

    .dis-flex {
        display: flex;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
        padding: 6px 20px;
    }

    .nav-position-abs {
        position: absolute;
        width: 100%;
    }

    .icon-box-img {
        width: 134px;
        text-align: center;
    }
}