<video autoplay loop src="assets/images/glogewithbg.mp4">
</video>
<main>
    <div class=""> 
        <div class="clouds">
            <div class="container">
                <div class="row m-0 d-flex align-items-center custom-height">
                    <div class="col-md-12">
                        <div class="hero-sec-title animate__animated animate__fadeInRightBig">
                            <h3>So, what brings you here today?01</h3>
                        </div>
                        <div class="lets-btn-sec">
                            <button class="animate__animated animate__slideInUp">Let's Get Started</button>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-md-4">
                        <div class="banner-footer-sec">
                            <h2 class="primary-heading animate__animated animate__slideInDown">We make your <span>dream
                                    reality</span></h2>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="banner-footer-sec">
                            <p class="animate__animated animate__slideInUp">Completely employee-owned, we're driven with
                                a passion for always improving the mortgage
                                process by finding the right types of loans, with rates that work for you. </p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex end-align">
                        <div class="banner-footer-sec">
                            <div class="success-sec animate__animated animate__slideInRight">
                                <span>Our Success Stories</span>
                                <div class="success-story-profiles">
                                    <img src="assets/images/profile1.png">
                                    <img src="assets/images/profile2.png">
                                    <img src="assets/images/profile1.png">
                                    <img src="assets/images/profile2.png">
                                    <img class="arrow" src="assets/icons/right-arrow.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<section class="dream-sec">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-4">
                <img src="assets/images/flight.png">
            </div>
            <div class="col-md-4">
                <img src="assets/images/home.png">
            </div>
            <div class="col-md-4">
                <img src="assets/images/tower.png">
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-4">
                <img class="w-100" src="assets/images/play.png">
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-4">
                <h4 class="dream-secondary-bold-text">Watch this video to <br/>
                    learn the basic of how it works</h4>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-4">
                <img src="assets/images/flight.png">
            </div>
            <div class="col-md-4">
                <img src="assets/images/home.png">
            </div>
            <div class="col-md-4">
                <img src="assets/images/tower.png">
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-4">
                <img class="w-100" src="assets/images/play.png">
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-4">
                <h4 class="dream-secondary-bold-text">Watch this video to <br/>
                    learn the basic of how it works</h4>
            </div>
        </div>
        
    </div>
</section>