<main>
    <div class="bg">
        <div class="clouds">
        <div class="container">
            <div class="row m-0 d-flex align-items-center">
                <div class="col-md-6">
                    <img class="globe" src="assets/icons/globe.svg">
                </div>
                <div class="col-md-6">
                    <div class="hero-sec-title">
                        <h3>So, what brings you here today?</h3>
                    </div>
                    <div class="lets-btn-sec">
                        <button class="animate__animated animate__slideInUp">Let's Get Started</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row m-0">
                    <div class="col-md-4">
                        <div class="banner-footer-sec">
                            <h2 class="primary-heading">We make your <span>dream reality</span></h2>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="banner-footer-sec">
                            <p>Completely employee-owned, we're driven with a passion for always improving the mortgage
                                process by finding the right types of loans, with rates that work for you. </p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex end-align">
                        <div class="banner-footer-sec">
                            <div class="success-sec">
                            <span>Our Success Stories</span>
                            <div class="success-story-profiles">
                                <img src="assets/images/profile1.png">
                                <img src="assets/images/profile2.png">
                                <img src="assets/images/profile1.png">
                                <img src="assets/images/profile2.png">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>