<video autoplay loop src="assets/images/glogewithbg.mp4">
</video>
<main>
    <div class="">
        <div class="clouds">
            <div class="container">
                <div class="row m-0 d-flex align-items-center custom-height">
                    <div class="col-md-12">
                        <div class="hero-sec-title animate__animated animate__fadeInRightBig">
                            <h3>So, what brings you here today?</h3>
                        </div>
                        <div class="lets-btn-sec">
                            <button class="animate__animated animate__slideInUp">Let's Get Started</button>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-md-4">
                        <div class="banner-footer-sec">
                            <h2 class="primary-heading animate__animated animate__slideInDown">We make your <span>dream
                                    reality</span></h2>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="banner-footer-sec">
                            <p class="animate__animated animate__slideInUp">Completely employee-owned, we're driven with
                                a passion for always improving the mortgage
                                process by finding the right types of loans, with rates that work for you. </p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex end-align">
                        <div class="banner-footer-sec">
                            <div class="success-sec animate__animated animate__slideInRight">
                                <span>Our Success Stories</span>
                                <div class="success-story-profiles">
                                    <img src="assets/images/profile1.png">
                                    <img src="assets/images/profile2.png">
                                    <img src="assets/images/profile1.png">
                                    <img src="assets/images/profile2.png">
                                    <img class="arrow" src="assets/icons/right-arrow.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="dream-sec">
    <section>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-3">
                    <div class="dream-image">
                        <img src="assets/images/flight.png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dream-image">
                        <img src="assets/images/home.png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dream-image">
                        <img src="assets/images/tower.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-4">
                    <img class="w-100" src="assets/images/play.png">
                </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-4">
                    <h4 class="dream-secondary-bold-text">Watch this video to <br />
                        learn the basic of how it works</h4>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row m-0 d-flex align-items-center justify-content-center">
            <div class="col-md-5">
                <div class="dream-achieve">
                    <h4 class="dream-heading">Our process <span class="light-yellow-text">puts you in control</span>
                    </h4>
                    <p>Convenient online access makes it easy to achieve
                        your financial and homeownership Dreams.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/images/one.svg">
                        </div>
                        <div class="col-md-9">
                            <h3 class="dream-feature-heading">Apply Online</h3>
                            <p class="dream-blue-para">Our streamlined application syncs with your bank to get you
                                accurate numbers, fast.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center mt-4">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/images/two.svg">
                        </div>
                        <div class="col-md-9">
                            <h3 class="dream-feature-heading">Get Approved</h3>
                            <p class="dream-blue-para">Our streamlined application syncs with your bank to get you
                                accurate numbers, fast.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center mt-4">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/images/three.svg">
                        </div>
                        <div class="col-md-9">
                            <h3 class="dream-feature-heading">Close Your Dream</h3>
                            <p class="dream-blue-para">Our streamlined application syncs with your bank to get you
                                accurate numbers, fast.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center mt-4">
                <div class="col-md-12">
                    <div class="dream-lets-btn-sec">
                        <button class="animate__animated animate__slideInUp">Let's Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center mt-4">
                <div class="col-md-12">
                    <div class="dream-mortage-quote">
                        <h3>We pioneered online mortgage lending.</h3>
                        <span class="light-yellow-text">
                            And it keeps getting better</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center mt-4">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dreams-cloud-options">
                                <img class="cloud-icon" src="assets/icons/cloud-icon.svg" alt="cloud icon">
                                <div class="dream-cloud-text">
                                    <h4>7 million<span>loans closed</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dreams-cloud-options">
                                <img class="cloud-icon" src="assets/icons/cloud-icon.svg" alt="cloud icon">
                                <div class="dream-cloud-text">
                                    <h4>4.9/5<span>star rating by our clients</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dreams-cloud-options">
                                <img class="cloud-icon" src="assets/icons/cloud-icon.svg" alt="cloud icon">
                                <div class="dream-cloud-text">
                                    <h4>10<span>star rating by our clients</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center mt-4">
                <div class="col-md-12">
                    <div class="dream-mortage-quote">
                        <h3>Get help with all <span class="light-yellow-text">
                                things home</span></h3>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center mt-4">
                <div class="col-md-8">
                    <mat-accordion>
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Do you need an account to use Bluelakes?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Bluelakes is working to make purchasing and refinancing homes less stressful, and a whole
                                lot simpler. That means no origination fees, a 100% online process, and pre-approval in
                                as little as 3 minutes.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    How do I sign up for Bluelakes?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    How do I sign up for Bluelakes?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </section>
</div>